__pycache__
.coverage
htmlcov
**/tests/**/*.json
/data/**/zip
log.txt
**/tests/**/log.txt
/src/tests/testdata_with_full_description/log.txt
/src/tests/**/zip
/src/tests/**/dimacs
.dimacs
/src/tests/**/sourcetxt
