{% extends "layout.html" %}

{% if graph %}

    {% block title %} {{ name }} {% endblock %}

    {% block body %}
    <br>
    Licence: {{ licence }}
        <table>
            <tr>
                <th colspan="2"> Statistics for {{ name }} </th>
            </tr>
            <tr>
                <td> Nodes: </td>
                <td> {{ nodes }} </td>
            </tr>
            <tr>
                <td> Edges: </td>
                <td> {{ edges }}</td>
            </tr>
            

        </table>

       


        <table>
            <tr>
                <th colspan="2">Source files </th>
            </tr>
            <tr>
                {% for source in sources %}
                    <tr>
                    <td>{{ source }}</td>
                    </tr>
                {% endfor %}
            </tr>
        </table>


    <br>
    <a href="/hggd/data/{{ dataset }}/{{ name }}" download>Download graph file</a>
    <br>
    <a href="/hggd/index">Back to main page</a>
    {% endblock %}
{% endif %}