{% extends "layout.html" %}

{% block title %}
Helsinki Genomic Graph Database
{% endblock %}

{% block body %}
<hy-docs-container>
    <hy-paragraph-text>Helsinki Genomic Graph Database is a database for the University of Helsinki researchers to add
        graph datasets of genomic sequences.</hy-paragraph-text>
    <br>
    {% if dataset_info %}
    <hy-table-container>
        <table class="indextable">
            <caption>
                <hy-heading heading="h5">Datasets in database</hy-heading>
            </caption>
            <thead>
                <tr>
                    <th class="indexth">
                        <hy-paragraph-text>Name </hy-paragraph-text>
                    </th>
                    <th class="indexth">
                        <hy-paragraph-text>Description</hy-paragraph-text>
                    </th>
                    <th class="indexth">
                        <hy-paragraph-text>Total edges</hy-paragraph-text>
                    </th>
                    <th class="indexth">
                        <hy-paragraph-text>Total nodes</hy-paragraph-text>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for dataset in dataset_info %}
                <tr>
                    <td class="indextdtext">
                        <hy-link variant="within-paragraph" url="/datasets/{{ dataset[2] }}" link-content= "{{ dataset[0] }}"
                            aria-label= "{{ dataset[0] }}" is-external="false">
                        </hy-link>
                    </td>
                    <td class="indextdtext">
                        <hy-paragraph-text>{{ dataset[1] }} </hy-paragraph-text>
                    </td>
                    <td class="indextdnumber">
                        <hy-paragraph-text>{{ dataset[3] }} </hy-paragraph-text>
                    </td>
                    <td class="indextdnumber">
                        <hy-paragraph-text>{{ dataset[4] }} </hy-paragraph-text>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </hy-table-container>
    {% endif %}
</hy-docs-container>
{% endblock %}