{% extends "layout.html" %}

{% block title %}
Helsinki Genomic Graph Database
{% endblock %}

{% block body %}
<hy-docs-container>
    <hy-baseline>
        <hy-heading heading="h2"> Helsinki Genomic Graph Database</hy-heading>
    </hy-baseline>
    {% if dataset_names %}
    <table>
        <tr> 
            <th colspan="2"><hy-paragraph-text>Datasets in database</hy-paragraph-text> </th>
        </tr>
        <tr>            
            <td> <hy-paragraph-text>Name </hy-paragraph-text></td>
            <td> <hy-paragraph-text>Description</hy-paragraph-text> </td>
        </tr>  
        {% for dataset in dataset_names %}
        <tr>
            <td> <a href="/hggd/datasets/{{ dataset[2] }}"> <hy-paragraph-text> {{ dataset[0] }} </hy-paragraph-text></a> </td>
            <td><hy-paragraph-text>{{ dataset[1] }} </hy-paragraph-text> </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</hy-docs-container>
{% endblock %}