{% extends "layout.html" %}

{% block title %}
Helsinki Genomic Graph Database
{% endblock %}

{% block body %}
<hy-docs-container>
    <hy-paragraph-text>Helsinki Genomic Graph Database is a database for the University of Helsinki researchers to add
        graph datasets of genomic sequences.</hy-paragraph-text>
    <br>
    {% if dataset_names %}
    <hy-table-container>
        <table>
            <caption>
                <hy-heading heading="h5">Datasets in database</hy-heading>
            </caption>
            <thead>
                <tr>
                    <td>
                        <hy-paragraph-text>Name </hy-paragraph-text>
                    </td>
                    <td>
                        <hy-paragraph-text>Description</hy-paragraph-text>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for dataset in dataset_names %}
                <tr>
                    <td> <a href="/hggd/datasets/{{ dataset[2] }}">
                            <hy-paragraph-text> {{ dataset[0] }} </hy-paragraph-text>
                        </a> </td>
                    <td>
                        <hy-paragraph-text>{{ dataset[1] }} </hy-paragraph-text>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </hy-table-container>
    {% endif %}
</hy-docs-container>
{% endblock %}