<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta 
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/fonts/fonts.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/huds-lib/huds-lib.css"
    />
    <link 
        rel="stylesheet" 
        type="text/css"
        href="/hggd/static/style.css"
    />
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/huds-lib/huds-lib.esm.js"
    ></script>
    <script
        nomodule=""
        src="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/huds-lib/huds-lib.js"
    ></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<div >
    <img src="/hggd/static/HY__LD01_LogoFP_EN_B3____BW.png" alt="HY logo" height="125" width="153"/>
</div>
<hy-heading heading="h1"> Helsinki Genomic Graph Database</hy-heading>
<body> 
    {% block body %}{% endblock %}
</body>
<footer>
    <hr class="solid">
    <hy-link 
        variant="within-paragraph"
        url="https://www.helsinki.fi/en/researchgroups/algorithmic-bioinformatics/teams/graph-algorithms"
        link-content="University of Helsinki Graph Algorithms team"
        aria-label="University of Helsinki Graph Algorithms team"
        is-external="false"
        >
    </hy-link>
</footer>