<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta 
        name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/fonts/fonts.css"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/huds-lib/huds-lib.css"
    />
    <link 
        rel="stylesheet" 
        type="text/css"
        href="/static/style.css"
    />
    <script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/huds-lib/huds-lib.esm.js"
    ></script>
    <script
        nomodule=""
        src="https://cdn.jsdelivr.net/npm/@itcenteratunihelsinki/huds-lib@0.0.2/dist/huds-lib/huds-lib.js"
    ></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="pagebox">
    <hy-heading heading="h4" class="hydrated">
        <div class="sidenav">
            <img class="displayed" src="/static/HY__LD01_LogoFP_EN_B3____BW.png" alt="HY logo" height="125" width="153"/>
            <br>
                <a href="/hggd/index"> Main </a>
            {% for link, name in pages %}
                <a href="/hggd/pages/{{ link }}"> {{ name }} </a>
            {% endfor %}
            <a href="https://www.helsinki.fi/en/researchgroups/algorithmic-bioinformatics/teams/graph-algorithms">Team</a>
        </div>
    </hy-heading>
    <div class="main">
        <hy-heading heading="h1"> Helsinki Genomic Graph Database</hy-heading>
        {% block body %}
        {% endblock %}
    </div>
    </div>
</body>